{% extends "base.html" %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		<p>
			Удалить {{ verbose_name|default:"объект" }}
			<a href="{{ object.get_absolute_url }}">{{ object }}</a>?
		</p>
		<input type="hidden" value="{{ object.pk }}" name="doc" />
		<button type="submit" class="btn btn-danger" name="confirm_delete" value="1">
			<span class="glyphicon glyphicon-trash"></span>
			Да, удалить
		</button>
		<button type="submit" class="btn btn-default" name="cancel" value="1">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Нет, отменить удаление
		</button>
	</form>
{% endblock %}
